---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
console.log(posts);
---

<h1 class="text-3xl font-bold mb-6">My Blog</h1>
<ul class="space-y-6">
    {
        posts.map((post) => (
            <li class="p-4 border border-gray-700 rounded-lg bg-white bg-opacity-5">
                <a href={`/blog/${post.slug}/`} class="text-xl font-semibold text-blue-400 hover:underline">
                    {post.data.title}
                </a>
                <p class="text-sm text-gray-400">{post.data.pubDate}</p>
                <p class="mt-2 text-base">{post.data.description}</p>
                <div class="mt-2 flex flex-wrap gap-2">
                    {post.data.tags.map((tag) => (
                        <span class="px-2 py-1 text-sm rounded-full bg-blue-900 text-white">#{tag}</span>
                    ))}
                </div>
            </li>
        ))
    }
</ul>
